<div class="py-3 ml-5 h3">ユーザーログイン</div>
<%= flash[:error] %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <table class="py-3 ml-5">
  <thead>
　<tr>
    <th class="text-right">メールアドレス</th>
	  <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
	</tr>
	
　<tr>
    <th class="text-right">パスワード</th>
	　<td><%= f.password_field :password, autocomplete: "current-password" %></td>
	</tr> 

  <tr>
    <% if devise_mapping.rememberable? %>
    <th class="text-right"><%= f.check_box :remember_me %></th>
	  <td>remember_me</td>
    <% end %>
` </tr>

　<tr>
    <th class="text-right"></th>
	　<td class="text-right"><%= f.submit "Log in" %></td>
	</tr> 
<% end %>
</thead>
</table>

<div class="mt-3 ml-5 h3">登録されていない方は</div>
<div class="ml-5"><%= link_to "こちら" , new_user_registration_path %> から新規登録してください。</div>
