<!DOCTYPE html>
<html>
  <head>
    <title>~Anyth~</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if admin_signed_in? %>
    <li>席一覧</li>
    <li>予約履歴一覧</li>
    <li>会員一覧</li>
    <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
    
  <% elsif user_signed_in? %>
    <li><%= link_to "マイページ", user_path(current_user) %></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
    <h4>ようこそ、<%= current_user.last_name %>さん！</h4>

  <% else %>
    <li><%= link_to 'About', homes_about_path %></li>
    <li><%= link_to '新規登録', new_user_registration_path %></li>
    <li><%= link_to 'ログイン', new_user_session_path %></li>
    
  <% end %>
  <body>
    <%= yield %>
  </body>
</html>
